@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,400&family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto+Mono:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #24252A;
    font-family: 'Montserrat', sans-serif;
}

li,a, button{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
}
.img-logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.contain{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
.textos{
    position: relative;
    display: flex;
    border: solid 1px red;
    top: 5%;
    left: -30%;
    height: 200px;
    max-height: 250px;
    width: 450px;
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 1.3em;
}
.textos, h1,h2,p{
    padding: 10px 0;
}
.texto-h2{
    left: -40%
}
.img-contain{
    width: 500px;
    height: 350px;
    position: absolute;
    border: solid 1px green;
    right: 5%;
}
.img-contain .img{
    border-radius: 35% 65% 58% 42% / 74% 67% 33% 26% ;
    width: 500px;
    height: 350px;
}